.DripStoreLoginFooter {
    background-color: var(--color-gray-dark);
    color: var(--background-color-gray-dark);
    font-family: var(--font-family);
    padding: 40px 20px 30px 20px;
}

.DripStoreLoginFooter h4 {
    font-size: 1.3rem; /* 20px */
    font-weight: 600;
    line-height: normal;
    margin: 0 0 20px 0;
}

.DripStoreLoginFooter h5 {
    font-size: 1rem; /* 16px */
    font-weight: 300;
    line-height: 38px;
}

.DripStoreLoginFooterContainer {
    max-width: var(--container-width);
    margin: 0 auto;
}

.DripStoreLoginFooterRow {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.DripStoreLoginFooterBrandColumn {
    max-width: 40%;
    min-width: 358px;
    margin: 30px 0 0 0;
}

.DripStoreLoginFooterBrand {
    font-weight: 600;
    height: 44px;
    display: flex;
    align-items: center;
}

.DripStoreLoginFooterLogo {
    width: 33px;
    height: 33px;
    overflow: visible;
}

.DripStoreLoginFooterCompany {
    font-size: 36px;
    letter-spacing: -0.01em;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.DripStoreLoginFooterIcon {
    width: 100%;
    height: 100%;
}

.DripStoreLoginFooterInformationColumn {
    max-width: 17%;
    min-width: 150px;
    margin: 30px 0 0 0;
}

.DripStoreLoginFooterCategoryColumn {
    max-width: 17%;
    min-width: 112px;
    margin: 30px 0 0 0;
}

.DripStoreLoginFooterContactColumn {
    max-width: 26%;
    min-width: 270px;
    margin: 30px 0 0 0;
}

.DripStoreLoginFooterContactColumn p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 14px 0;
}

.DripStoreLoginFooterSeparator {
    margin: 30px 0;
    width: 100%;
}

.DripStoreLoginFooterCopyright {
    font-size: 13px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 1360px) {
    .DripStoreLoginFooterContainer {
        max-width: 1024px;
    }
}

@media (max-width: 960px) {
    .DripStoreLoginFooterRow {
        justify-content: flex-start;
    }

    .DripStoreLoginFooterBrandColumn {
        min-width: 280px;
    }

    .DripStoreLoginFooter {
        padding: 20px 20px 10px 20px;
    }
}
