.DripStoreCommonFormBody {
    display: block;
    overflow: visible;
}

.DripStoreCommonFormBody label {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
    margin: 20px 0;
}

.DripStoreCommonFormBody div {
    margin: 0 0 20px 0;
}

.DripStoreCommonFormBody input[type='text'], .DripStoreCommonFormBody input[type='password'] {
    font-family: var(--font-family);
    color: var(--color-gray-soft);
    background-color: var(--background-color-gray-soft);
    height: 60px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    padding: 10px 20px;
}

.DripStoreCommonFormBody input::placeholder {
    opacity: 0.5;
}
