.root {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #b5b6f2ff 0%, #efefffff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

.primaryButton.primaryButton {
  width: 523px;
  height: 48px;
}
.icon {
  width: 100%;
  height: 100%;
}
.button {
  color: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.facebookOriginal.facebookOriginal {
  left: 66.6667%;
  right: 0;
  top: 0;
  bottom: 0;
}
.gmail1.gmail1 {
  left: 0;
  right: 66.6667%;
  top: 0;
  bottom: 0;
}

.footer {
  align-items: flex-start;
}

.DripStoreLoginFooterWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 1680px;
  height: 454px;
  background-color: #1f1f1f;
}

.sobreDripStoreSegurancaWishlis {
  position: absolute;
  left: 714.0002px;
  top: 122px;
  width: 157.5px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.informacao {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 714.0002px;
  top: 72px;
  width: 115.5px;
  height: min-content;
  flex-direction: column;
}
.camisetasCalcasBonesHeadphones {
  position: absolute;
  left: 990.5px;
  top: 122px;
  width: 112px;
  height: min-content;
  flex-direction: column;
}
.textBlock7 {
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.categorias {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 990.5px;
  top: 72px;
  width: 112px;
  height: min-content;
  flex-direction: column;
}
.contato {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1298.5px;
  top: 72px;
  width: 82.8333px;
  height: min-content;
  flex-direction: column;
}
.avSantosDumont15101AndarAldeot {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1298.5px;
  top: 122px;
  width: 269.5px;
  height: min-content;
  flex-direction: column;
}
._8530513411 {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1300.8334px;
  top: 214px;
  width: 269.5px;
  height: min-content;
  flex-direction: column;
}
.loremIpsumDolorSitAmetConsecte {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 116.6666px;
  top: 151px;
  width: 358.1667px;
  height: min-content;
  flex-direction: column;
}
.secure128BitSSLE {
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 720.9999px;
  top: 408px;
  width: 163.3333px;
  height: min-content;
  flex-direction: column;
}
.DripStoreLoginFooterSeparator {
  position: absolute;
  left: 116.6666px;
  top: 384px;
  width: 1446.6666px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.group53511 {
  position: absolute;
  left: 116.6666px;
  top: 269px;
  width: 144.8091px;
  height: 20.534px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  left: 104px;
  top: 72px;
  width: 253px;
  height: 44px;
  align-items: flex-start;
}
.group {
  position: absolute;
  left: 0;
  top: 38px;
  width: 33px;
  height: 33px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.digitalStore {
  color: #fff;
  font-size: 36.3951px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.01em;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.wrapperFrame53687 {
  display: flex;
}
.frame53687 {
  width: 583px;
  height: 560px;
  align-items: flex-start;
}
.frame53634 {
  position: absolute;
  left: 0;
  top: 0;
  width: 583px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
  border-radius: 4px;
  background-color: #fff;
}
.group53683 {
  position: relative;
  width: 523px;
  height: 84px;
}
.acesseSuaConta {
  color: #1f1f1f;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 57.1429%;
  width: 523px;
  height: min-content;
  flex-direction: column;
}
.frame53659 {
  position: absolute;
  left: 0;
  right: 0;
  top: 66.6667%;
  bottom: 0;
  width: 523px;
  height: min-content;
  align-self: flex-start;
}
.novoClienteEntaoRegistreSeAqui {
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.labelWrapper {
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
}
.label2 {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  text-decoration: underline;
}
.label3 {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
}
.group53682 {
  position: relative;
  width: 523px;
  height: 198px;
}
.rectangle1 {
  opacity: 0.04;
  position: absolute;
  left: 0;
  right: 0;
  top: 14.6465%;
  bottom: 55.0505%;
  width: 523px;
  height: 60px;
  border-radius: 8px;
  background-color: #474747;
}
.insiraSeuLoginOuEmail {
  opacity: 0.6;
  color: #666;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  position: absolute;
  left: 4.7059%;
  right: 18.0392%;
  top: 22.7273%;
  bottom: 63.1313%;
  width: 404.0432px;
  height: min-content;
  flex-direction: column;
}
.login {
  color: #474747;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  position: absolute;
  left: 0;
  right: 79.2157%;
  top: 0;
  bottom: 87.8788%;
  width: 108.702px;
  height: min-content;
  flex-direction: column;
}
.rectangle12 {
  opacity: 0.04;
  position: absolute;
  left: 0;
  right: 0;
  top: 69.697%;
  bottom: 0;
  width: 523px;
  height: 60px;
  border-radius: 8px;
  background-color: #474747;
}
.insiraSuaSenha {
  opacity: 0.6;
  color: #666;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  position: absolute;
  left: 4.7059%;
  right: 18.0392%;
  top: 77.7778%;
  bottom: 8.0808%;
  width: 404.0432px;
  height: min-content;
  flex-direction: column;
}
.senha {
  color: #474747;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  position: absolute;
  left: 0;
  right: 77.2549%;
  top: 55.0505%;
  bottom: 32.8283%;
  width: 118.9569px;
  height: min-content;
  flex-direction: column;
}
.group53579 {
  position: relative;
  width: 152px;
  height: 22px;
}
.esqueciMinhaSenha {
  color: #474747;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.25px;
  text-decoration: underline;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 152px;
  height: min-content;
  flex-direction: column;
}
.group39227 {
  position: relative;
  height: 28px;
  align-self: stretch;
}
.frame39228 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 523px;
  height: min-content;
  align-self: flex-start;
  place-content: center;
  align-items: center;
  gap: 20px;
}
.ouFacaLoginCom {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.75px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.group36835 {
  position: relative;
  width: 72px;
  height: 24px;
}
.pexelsMelvinBuezo25291481 {
  transform-origin: top left;
  position: absolute;
  left: 1149.6094px;
  top: 167px;
  width: 256px;
  height: 483px;
  background-image:/* webpackIgnore: true */ url('/assets/pexelsMelvinBuezo25291481.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(-0.9672, 0.2539, 0.2539, 0.9672, 0, 0);
}
