.root {
  position: absolute;
  left: -430.5556%;
  right: 497.2222%;
  top: -8.3333%;
  bottom: 8.3333%;
  width: 24px;
  height: 24px;
  align-items: flex-start;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 0;
  top: 2.9978px;
  width: 24px;
  height: 18.0044px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
