.DripStoreHead {
    height: min-content;
    width: 100%;
    padding: 25px 20px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.DripStoreHeadContainer {
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
}

.DripStoreHeadWrapper {
    position: relative;
    width: 172.5px;
    height: 30px;
    display: flex;
}

.DripStoreHeadBrand {
    display: flex;
    align-items: center;
}

.DripStoreHeadLogo {
    width: 22.5px;
    height: 22.5px;
    overflow: visible;
}

.DripStoreHeadIcon {
    width: 100%;
    height: 100%;
}

.DripStoreHeadCompany {
    color: #c92071;
    font-size: 23.9877px;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    letter-spacing: -0.01em;
    position: absolute;
    left: 16.2055%;
    right: -0.1636%;
    top: 0;
    bottom: 0;
    flex-direction: column;
}
