.root {
  height: 100vh;
  font-family: sans-serif;
  flex-basis: 100%;
  overflow-y: auto;
  background-color: #1f1f1f;
}

.main {
  width: 100vw;
  min-width: 320px;
  min-height: calc(100vh - 80px - 460px);
  align-items: flex-start;
  background-image: linear-gradient(180deg, #b5b6f2ff 0%, #efefffff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: auto;
}
