.DripStoreLoginMain {
    padding: 60px 20px 20px 20px;
}

.DripStoreLoginMainContainer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.DripStoreLoginMainForm {
    min-width: 580px;
    align-items: flex-start;
    padding: 30px;
    border-radius: 4px;
    background-color: #fff;
    height: min-content;
    color: #474747;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.DripStoreLoginMainFormWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.DripStoreLoginMainFormTitle {
}

.DripStoreLoginMainFormTitleCaption {
    color: #1f1f1f;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    height: min-content;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.DripStoreLoginMainFormTitleSignUp {
    height: min-content;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.DripStoreLoginMainFormTitleSignUp p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.75px;
}

.DripStoreLoginMainFormTitleSignUp p a {
    text-decoration: underline;
}

.DripStoreLoginMainFormBody {
    display: block;
    overflow: visible;
}

.DripStoreLoginMainFormBody label {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.75px;
    margin: 20px 0;
}

.DripStoreLoginMainFormBody div {
    margin: 0 0 20px 0;
}

.DripStoreLoginMainFormBody input {
    height: 60px;
    border-radius: 8px;
    color: #666;
    font-size: 16px;
    line-height: 28px;
    background-color: #f8f8f8;
    width: 100%;
    padding: 10px 20px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
}

.DripStoreLoginMainFormBody input::placeholder {
    opacity: 0.5;
}

.DripStoreLoginMainFormRemember {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.DripStoreLoginMainFormSignIn {
    margin: 20px 0;
}

.DripStoreLoginMainFormBottom {
    display: flex;
}

.DripStoreLoginMainFormBottomIcons {
    display: flex;
    width: 72px;
    height: 24px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.DripStoreLoginMainShoes {
    display: flex;
    justify-content: center;
}

.DripStoreLoginMainShoes img {
    width: 100%;
    height: 670px;
    object-fit: cover;
    object-position: bottom;
}

@media (max-width: 1360px) {
    .DripStoreLoginMainContainer {
        max-width: 1024px;
    }

    .DripStoreLoginMainForm {
        min-width: 500px;
    }
}

@media (max-width: 1280px) {
    .DripStoreLoginMainForm {
        min-width: 400px;
    }
}

@media (max-width: 1024px) {
    .DripStoreLoginMainShoes img {
        height: 600px;
    }
}

@media (max-width: 960px) {
    .DripStoreLoginMainContainer {
        justify-content: center;
    }

    .DripStoreLoginMain {
        padding: 40px 10px;
    }

    .DripStoreLoginMainForm {
        min-width: 580px;
    }

    .DripStoreLoginMainShoes img {
        display: none;
    }
}

@media (max-width: 660px) {
    .DripStoreLoginMainForm {
        min-width: 280px;
        width: calc(100vw - 20px);
        padding: 20px;
    }
}

@media (max-width: 375px) {
    .DripStoreLoginMainForm {
        padding: 20px;
    }
}
